<div class="diagnosis">
  <h1 class="title">Resultados do Diagnóstico</h1>

  <ng-container *ngFor="let diagnosisItem of diagnoses" class="diagnosis-item">
    <div class="diagnosis-item">
      <h2 class="diagnosis-type">{{ diagnosisItem.type }}</h2>

      <div class="diagnosis-answers">
        <h3>Respostas:</h3>
        <ul>
          <li *ngFor="let answer of diagnosisItem.answers">
            {{ answer.question }}: {{ answer.answer }}
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
  
  <button class="back-button" (click)="returnToHome()">Voltar à Página Inicial</button>
</div>





