/* Estilos para a classe .questionnaire */
.questionnaire {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .questionnaire h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .questionnaire h1.title {
    font-size: 30px;
    color: #007bff;
    margin: 20px 0;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
  
  .questionnaire table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  .questionnaire thead th,
  .questionnaire tbody td {
    border-bottom: 2px solid #007bff;
    padding: 10px;
    font-size: 16px;
    text-align: left;
    font-family: Arial, sans-serif;
  }
  
  .questionnaire select {
    font-family: Arial, sans-serif;
  }
  
  .button-container {
    text-align: left;
  }
  
  .questionnaire button {
    margin-top: 20px;
    margin-right: 10px; /* Espaço à direita dos botões */
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Arial, sans-serif;
  }
  
  .questionnaire button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para a classe .diagnosis */
  .diagnosis {
    text-align: left;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .diagnosis h1 {
    font-size: 36px;
    color: #007bff;
    margin: 20px 0;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
  
  .diagnosis ul {
    list-style: none;
    padding: 0;
  }
  
  .diagnosis li {
    margin-bottom: 20px;
  }
  
  .diagnosis p {
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
  }
  
  .diagnosis button {
    margin-top: 20px;
    margin-right: 10px; /* Espaço à direita dos botões */
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Arial, sans-serif;
  }
  
  .diagnosis button:hover {
    background-color: #0056b3;
  }
  
  .diagnosis h2 {
    font-size: 24px;
    color: #007bff;
    margin: 10px 0;
  }
  
  .diagnosis p.score {
    font-weight: bold;
  }
  
  .diagnosis table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
  }
  
  .diagnosis table td {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .diagnosis table td h2 {
    margin: 10px 0;
  }
  
  .diagnosis table td p {
    margin: 10px 0;
  }
  
  